<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>这里是登录页面</h2>
    <form action="/dologin" method="post">
        <input type="text" name="username" placeholder="name">
        <input type="text" name="passworld" placeholder="passworld">
        <input type="submit" value="提交">
    </form>
</body>
</html>
