<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul>
        <%for(var i=0; i<list.length; i++){%>
        <li>
            name:<%=list[i].name%>
            <span>age:<%=list[i].age%></span>
            <i>vip:<%=list[i].vip%></i>
        </li>
        <%}%>
    </ul>
</body>
</html>
