<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/addpost" method="post">
        <ul>
            <li>
                name: <input type="text" name="username">
            </li>
            <li>
                password: <input type="password" name="password">
            </li>
            <li>
                <input type="submit" value="提交">
            </li>
        </ul>
    </form>
</body>
</html>
